.about {
  font-size: 0.8em;
  @media (min-width: @sm) {
    font-size: 1em;
  }
  @media (min-width: @lg) {
    padding: 0 0 64px;
  }
}

.about__title {
  font-size: 4.0em;
  font-weight: 700;
  @media (min-width: @lg) {
    font-size: 5.0em;
  }
}

.about__section {
  margin-bottom: 40px;
}

.about__section-title {
  display: flex;
  align-items: center;
}

.about__step-number {
  display: none;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  background-color: #0090C8;
  color: #fff;
  font-size: 2em;
  margin-right: 20px;
}

.about__section-title-text {
  font-size: 2.2em;
  // font-size: 3.0em;
}

.about__subtitle {
  font-size: 2.4em;
  color: #9B9B9B;
}

.light-table {
  width: 100%;
  font-size: 1.6em;
  border-radius: 4px;
  tr {
    th {
      word-break: keep-all;
    }
    td {
      border-bottom: 1px solid #ccc;
      border-spacing: 0;
      border-collapse: collapse;
      transition: all .4s ease;
    }
    &:last-child td {
      border-bottom: none;
    }
    &:hover {
      td {
        background-color: darken(#fff, 2%);
        cursor: default;
      }
    }
  }
  td, th {
    padding: 4px 4px;
  }
  th {
    text-align: left;
  }
}

.light-table_with-vertical-border {
  td {
    border-right: 1px solid #ccc;
    &:last-child {
      border-right: none;
    }
  }
}

.about__calculation {
  font-size: 1.8em;
  color: #101010;
}

.checkbox {
  font-size: 1.6em;
  margin: 8px 0;
  user-select: none;
}

.checkbox__inner {
  display: inline-flex;
  cursor: pointer;
}

.checkbox__status {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border: 1px solid black;
  margin-right: 6px;
  text-align: center;
}

.checkbox__status_active {
  background: url('/landing-static/images/icon-checked.svg') center center no-repeat;
  background-size: 68%;
}

.about__image {
  display: block;
  margin: 0 30px;
}

.about__estimation-unit {
  display: none;
  @media (min-width: @md) {
    display: inline !important;
  }
}

.about__estimation-column {
  text-align: center !important;
}
