.footer {
  padding: 0 0;
  background-color: #101010;
  color: #fff;
  font-size: .8em;
  a {
    color: #fff;
    transition: all .4s ease;
    &:hover {
      color: darken(#fff, 20%);
    }
  }
  @media (min-width: @sm) {
    padding: 60px 0;
  }
  @media (min-width: @md) {
    font-size: 1em;
  }
}

.footer__logo {
  display: none;
  @media (min-width: @sm) {
    display: block;
  }
}

.footer__contact {
  display: none;
  // display: flex;
  margin: 48px 0;
  font-size: 2.0em;
  a {
    text-decoration: none;
  }
  @media (min-width: @sm) {
    display: flex;
  }
}

.footer__contact-image {
  display: block;
  width: 50px;
}

.footer__useful-links-list {
  // margin-top: 38px;
  list-style-type: none;
  padding: 0;
}

.footer__useful-link {
  font-size: 1.6em;
  margin: 12px 0;
  a {
    text-decoration: none;
  }
}

.social {
  display: none;
  margin-top: 30px;
  margin-bottom: 30px;
  @media (min-width: @sm) {
    display: block;
  }
}

.social__link {
  display: inline-block;
  width: 64px;
  height: 64px;
  line-height: 64px;
  border-radius: 50%;
  background-color: #2F302F;
  text-decoration: none;
  text-align: center;
  margin-right: 16px;
  transition: all .4s ease;
  &:hover {
    background-color: lighten(#2F302F, 5%)
  }
  img {
    vertical-align: middle;
    max-width: 36px;
  }
}

.footer__copyright {
  font-size: 1.6em;
  color: #5B5B5B;
  margin-bottom: 0;
}

.footer__contact-text {
  height: 27px;
  line-height: 27px;
}
