html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

.overflow-wrapper {
  overflow-x: scroll;
}

.container {
  @media (max-width: @md) {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}
