.header {
  height: 80px;
}

.header__logo {
  a {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    img {
      vertical-align: middle;
    }
  }
}

.header__navigation {
  display: none;
  text-align: right;
  @media (min-width: @sm) {
    display: block;
  }
}

.header__navigation-item {
  display: inline-block;
  height: 80px;
  padding: 0 36px;
  line-height: 80px;
  font-size: 1.8em;
  text-decoration: none;
  color: #000;
  transition: all .4s ease;
  &:hover {
    background-color: darken(#fff, 1%);
  }
}

.header__navigation-item_highlighted {
  color: #fff;
  background-color: #0090C8;
  &:hover {
    background-color: lighten(#0090C8, 5%);
  }
}

.header__text {
  width: 100%;
}
