.intro {
  padding: 86px 0;
  background-color: #101010;
  color: #fff;
  overflow: hidden;
}

.intro__title {
  font-size: 6.0em;
  font-weight: 700;
  line-height: 1.2;
}

.intro__subtitle {
  font-size: 2.4em;
  font-weight: 400;
  line-height: 1.6;
}

.intro__content {
  display: flex;
  align-items: center;
  font-size: .5em;
  text-align: center;
  @media (min-width: @sm) {
    font-size: .7em !important;
  }
  @media (min-width: @lg) {
    font-size: 1em !important;
  }
}

.intro__text {
  display: none;
  margin-right: 116px;
  @media (min-width: @sm) {
    display: flex;
    margin-right: 16px;
  }
}
