.price {
  padding: 0 0 32px;
  font-size: .8em;
  @media (min-width: @lg) {
    padding: 0 0 128px;
    font-size: 1em;
  }
}

.price__title {
  font-size: 4em;
  text-align: center;
  @media (min-width: @sm) {
    font-size: 5.0em;
    margin: 1em;
  }
  @media (min-width: @lg) {
    margin: 1.6em;
  }
}

.price__item-list {
  border: 1px solid #DFDFDF;
}

.price__item {
  display: block;
  padding: 0 0 14px;
  text-align: center;
  border-right: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  transition: all .4s ease;
  text-decoration: none;
  color: #000;
  @media (min-width: @lg) {
    padding: 42px 0;
    border-bottom: none;
  }
  p {
    transition: all .4s ease;
  }
  &:last-child {
    border: none;
  }
  &:hover {
    background-color: #E79C1F;
    color: #fff;
    p {
      color: #fff;
    }
  }
}

.price__item-title {
  font-size: 3.0em;
  font-weight: 700;
}

.price__item-cost {
  font-size: 3.0em;
  font-weight: 700;
  color: #FF8A03;
}

.price__item-description {
  font-size: 1.8em;
  line-height: 1.6;
}

.price__action {
  text-align: center;
  padding: 60px 0 130px;
}

.price__action-link {
  display: inline-block;
  text-decoration: none;
  background-color: #101010;
  font-size: 1.8em;
  padding: 20px 48px;
  color: #fff;
  transition: all .4s ease;
  &:hover {
    background-color: lighten(#101010, 15%);
  }
}
