.try {
  padding: 16px 0;
  background-color: #101010;
  color: #fff;
  font-size: .8em;
  @media (min-width: @sm) {
    padding: 48px 0;
    font-size: 1em;
  }
  @media (min-width: @lg) {
    padding: 136px 0;
  }
}

.try__title {
  font-size: 3em;
  @media (min-width: @lg) {
    font-size: 5.0em;
  }
}

.try__subtitle {
  font-size: 1.8em;
  line-height: 1.3em;
}

.try__link {
  font-size: 2.0em;
  font-weight: 700;
  a {
    display: inline-flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    img {
      margin-left: 12px;
    }
  }
}

.try__image {
  display: none;
  @media (min-width: @sm) {
    display: flex;
  }
}
