<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<!-- favicon -->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= prefix %>/images/favicon/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= prefix %>/images/favicon/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= prefix %>/images/favicon/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= prefix %>/images/favicon/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="<%= prefix %>/images/favicon/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= prefix %>/images/favicon/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= prefix %>/images/favicon/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= prefix %>/images/favicon/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="<%= prefix %>/images/favicon/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="<%= prefix %>/images/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="<%= prefix %>/images/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="<%= prefix %>/images/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="<%= prefix %>/images/favicon/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="TimeTimeTime"/>
<meta name="msapplication-TileColor" content="#000000" />
<meta name="msapplication-TileImage" content="<%= prefix %>/images/favicon/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="<%= prefix %>/images/favicon/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="<%= prefix %>/images/favicon/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="<%= prefix %>/images/favicon/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="<%= prefix %>/images/favicon/mstile-310x310.png" />
<!-- /favicon -->
<title>TimeTimeTime: расчет сроков и стоимости проектов</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic" rel="stylesheet">
<link href="<%= prefix %>/styles.css" rel="stylesheet">
<script src="<%= prefix %>/scripts.js" defer></script>
