<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="row middle-xs">
          <div class="header__logo col-xs-6 col-sm-4">
            <a href="/">
              <img src="<%= prefix %>/images/logo-2.svg" alt="TimeTimeTime logo">
            </a>
          </div> <!-- /header__logo -->
          <div class="header__navigation col-xs-6 col-sm-8">
            <a href="/sign-up" class="header__navigation-item" onclick="yaCounter48015800.reachGoal('REGISTRATION'); return true;">
              Зарегистрироваться
            </a>
            <a href="/sign-in" class="header__navigation-item header__navigation-item_highlighted">
              Войти
            </a>
          </div> <!-- /header__logo -->
        </div> <!-- /row -->
      </div> <!-- /container -->
    </header>
    <div class="intro">
      <div class="container">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <div class="intro__content">
            <div class="intro__text">
              <img src="<%= prefix %>/images/icon-time.svg" alt="">
            </div> <!-- /header__text -->
            <div class="header__text">
              <h1 class="intro__title">
                Расчет сроков и стоимости проектов
              </h1>
              <h2 class="intro__subtitle">
                Для разработчиков программного обеспечения
              </h2>
            </div> <!-- /intro__text -->
          </div> <!-- /intro__content -->
        </div> <!-- /col -->
      </div> <!-- /container -->
    </div> <!-- /intro -->
    <div class="about container">
      <h2 class="about__title">
        Как это работает?
      </h2>
      <div class="about__section">
        <h3 class="about__section-title">
          <span class="about__step-number">
            1
          </span>
          <span class="about__section-title-text">
            <span class="about__text-number">1.</span>
            Заполните информацию о компании
          </span>
        </h3>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <h3 class="about__subtitle">
              Общие расходы:
            </h3>
            <table class="light-table">
              <tr>
                <td>
                  Аренда офиса
                </td>
                <td>
                  65 000 руб.
                </td>
              </tr>
              <tr>
                <td>
                  Лицензии на ПО
                </td>
                <td>
                  24 000 руб.
                </td>
              </tr>
              <tr>
                <td>
                  Оплата серверов
                </td>
                <td>
                  10 000 руб.
                </td>
              </tr>
              <tr>
                <td>
                  Рекламные расходы
                </td>
                <td>
                  25 000 руб.
                </td>
              </tr>
            </table>
          </div> <!-- /col -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <h3 class="about__subtitle">
              Сотрудники:
            </h3>
            <table class="light-table">
              <tr>
                <td>
                  UI/UX Designer
                </td>
                <td>
                  70 000 руб.
                </td>
              </tr>
              <tr>
                <td>
                  Back-end developer
                </td>
                <td>
                  95 000 руб.
                </td>
              </tr>
              <tr>
                <td>
                  Android developer
                </td>
                <td>
                  80 000 руб.
                </td>
              </tr>
              <tr>
                <td>
                  iOS developer
                </td>
                <td>
                  100 000 руб.
                </td>
              </tr>
            </table>
          </div> <!-- /col -->
          <div class="col-xs-12 col-md-4">
            <h3 class="about__subtitle">
              Очередность работ:
            </h3>
            <img class="about__image" src="<%= prefix %>/images/flow.png" alt="" />
          </div> <!-- /col -->
        </div> <!-- /row -->
      </div> <!-- /about__section -->
      <div class="about__section">
        <h3 class="about__section-title">
          <span class="about__step-number">
            2
          </span>
          <span class="about__section-title-text">
            <span class="about__text-number">2.</span>
            Опишите проект
            и входящие в него задачи
          </span>
        </h3>
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-8">
            <h3 class="about__subtitle">
              Оценка:
            </h3>
            <div class="overflow-wrapper">
              <table class="light-table light-table_with-vertical-border">
                <tr>
                  <th>
                    Задача
                  </th>
                  <th class="about__estimation-column">
                    UI/UX
                  </th>
                  <th class="about__estimation-column">
                    Back-end
                  </th>
                  <th class="about__estimation-column">
                    Android
                  </th>
                  <th class="about__estimation-column">
                    iOS
                  </th>
                </tr>
                <tr>
                  <td>
                    Новости
                  </td>
                  <td class="about__estimation-column">
                    4 <span class="about__estimation-unit">дня</span>
                  </td>
                  <td class="about__estimation-column">
                    2 <span class="about__estimation-unit">дня</span>
                  </td>
                  <td class="about__estimation-column">
                    3 <span class="about__estimation-unit">дня</span>
                  </td>
                  <td class="about__estimation-column">
                    3 <span class="about__estimation-unit">дня</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    Фотогалерея
                  </td>
                  <td class="about__estimation-column">
                    2 <span class="about__estimation-unit">дня</span>
                  </td>
                  <td class="about__estimation-column">
                    2 <span class="about__estimation-unit">дня</span>
                  </td>
                  <td class="about__estimation-column">
                    3 <span class="about__estimation-unit">дня</span>
                  </td>
                  <td class="about__estimation-column">
                    4 <span class="about__estimation-unit">дня</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    Обратная связь
                  </td>
                  <td class="about__estimation-column">
                    1 <span class="about__estimation-unit">день</span>
                  </td>
                  <td class="about__estimation-column">
                    1 <span class="about__estimation-unit">день</span>
                  </td>
                  <td class="about__estimation-column">
                    2 <span class="about__estimation-unit">дня</span>
                  </td>
                  <td class="about__estimation-column">
                    2 <span class="about__estimation-unit">дня</span>
                  </td>
                </tr>
              </table>
            </div> <!-- /overflow-wrapper -->
          </div> <!-- /col -->
          <div class="col-xs-12 col-sm-4 col-md-3">
            <h3 class="about__subtitle">
              Параметры:
            </h3>
            <table class="light-table">
              <tr>
                <td>
                  Методология:
                </td>
                <td>
                  Agile
                </td>
              </tr>
              <tr>
                <td>
                  Страховка
                </td>
                <td>
                  50%
                </td>
              </tr>
              <tr>
                <td>
                  Прибыль
                </td>
                <td>
                  20%
                </td>
              </tr>
              <tr>
                <td>
                  Комиссия с продажи
                </td>
                <td>
                  3%
                </td>
              </tr>
            </table>
          </div> <!-- /col -->
        </div> <!-- /row -->
      </div> <!-- /about__section -->
      <div class="about__section">
        <h3 class="about__section-title">
          <span class="about__step-number">
            3
          </span>
          <span class="about__section-title-text">
            <span class="about__text-number">3.</span>
            Получите интерактивный расчет
          </span>
        </h3>
        <div id="demo"></div>
      </div> <!-- /about__section -->
    </div> <!-- /about -->
    <div class="try">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <p class="try__title">
              Два проекта бесплатно
            </p>
            <p class="try__subtitle">
              Опробуйте сервис в действии: без ограничений по времени и необходимости оплаты.
            </p>
            <p class="try__link">
              <a href="/sign-up" onclick="yaCounter48015800.reachGoal('REGISTRATION'); return true;">
                Зарегистрироваться
                <img src="<%= prefix %>/images/icon-next.svg" alt="">
              </a>
            </p>
          </div> <!-- /col -->
          <div class="try__image col-sm-6 col-md-6">
            <img src="<%= prefix %>/images/notebook-2.png" alt="">
          </div> <!-- /col -->
        </div> <!-- /row -->
      </div> <!-- /container -->
    </div> <!-- /try -->
    <div class="price">
      <div class="container">
        <h2 class="price__title">
          Стоимость
        </h2>
        <div class="price__item-list row">
          <a href="/sign-up" class="price__item col-xs-12 col-sm-6 col-md-3" onclick="yaCounter48015800.reachGoal('REGISTRATION'); return true;">
            <p class="price__item-title">
              Лайт
            </p>
            <p class="price__item-cost">
              450 руб.
            </p>
            <p class="price__item-description">
              <b>1 месяц</b> подписки
              <br> и возможность создания
              <br><b>8 проектов</b>
            </p>
          </a> <!-- /price__item -->
          <a href="/sign-up" class="price__item col-xs-12 col-sm-6 col-md-3" onclick="yaCounter48015800.reachGoal('REGISTRATION'); return true;">
            <p class="price__item-title">
              Стандарт
            </p>
            <p class="price__item-cost">
              900 руб.
            </p>
            <p class="price__item-description">
              <b>1 месяц</b> подписки
              <br> и возможность создания
              <br><b>32 проектов</b>
            </p>
          </a> <!-- /price__item -->
          <a href="/sign-up" class="price__item col-xs-12 col-sm-6 col-md-3" onclick="yaCounter48015800.reachGoal('REGISTRATION'); return true;">
            <p class="price__item-title">
              Профи
            </p>
            <p class="price__item-cost">
              1800 руб.
            </p>
            <p class="price__item-description">
              <b>1 месяц</b> подписки
              <br> и возможность создания
              <br><b>128 проектов</b>
            </p>
          </a> <!-- /price__item -->
          <a href="/sign-up" class="price__item col-xs-12 col-sm-6 col-md-3" onclick="yaCounter48015800.reachGoal('REGISTRATION'); return true;">
            <p class="price__item-title">
              Максимум
            </p>
            <p class="price__item-cost">
              3600 руб.
            </p>
            <p class="price__item-description">
              <b>1 месяц</b> подписки
              <br> и возможность создания
              <br><b>512 проектов</b>
            </p>
          </a> <!-- /price__item -->
        </div> <!-- /row -->
        <!-- <div class="price__action">
          <a href="/" class="price__action-link">
            Зарегистрироваться
          </a>
        </div> -->
      </div> <!-- /container -->
    </div> <!-- /price -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-lg-9">
            <div class="footer__logo">
              <a href="/">
                <img src="<%= prefix %>/images/logo-3.svg" alt="TimeTimeTime logo">
              </a>
            </div> <!-- /footer__logo -->
            <div class="footer__contact">
              <div class="footer__contact-image">
                <img src="<%= prefix %>/images/icon-email.svg" />
              </div> <!-- /footer__contact-image -->
              <div class="footer__contact-text">
                <a href="mailto:time@timetimeti.me">
                  time@timetimeti.me
                </a>
              </div> <!-- /footer__contact-image -->
            </div> <!-- /footer__contact -->
            <p class="footer__copyright">
              ИП Оганезов А. В.
              <br>ИНН 230411756408
              <br>ОГРНИП 318237500100694
            </p>
          </div> <!-- /col -->
          <div class="col-xs-12 col-sm-4 col-lg-3">
            <div class="social">
              <a href="https://vk.com/timetimetimeapp" class="social__link" target="_blank">
                <img src="<%= prefix %>/images/icon-vk.svg" alt="VK">
              </a>
              <a href="https://www.facebook.com/timetimetimeapp" class="social__link" target="_blank">
                <img src="<%= prefix %>/images/icon-facebook.svg" alt="Facebook">
              </a>
              <a href="https://twitter.com/timetimetimeapp" class="social__link" target="_blank">
                <img src="<%= prefix %>/images/icon-twitter.svg" alt="Twitter">
              </a>
            </div> <!-- /social -->
            <ul class="footer__useful-links-list">
              <li class="footer__useful-link">
                <a href="/privacy-policy">
                  Политика конфиденциальности
                </a>
              </li>
              <li class="footer__useful-link">
                <a href="/user-agreement">
                  Пользовательское соглашение
                </a>
              </li>
            </ul>
          </div> <!-- /col -->
        </div> <!-- /row -->
      </div> <!-- /container -->
    </footer>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter48015800 = new Ya.Metrika({
                        id:48015800,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/48015800" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115442746-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115442746-1');
    </script>
  </body>
</html>
