<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
    <style>
      body, html {
        font-size: 16px !important;
        line-height: 1.2 !important;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>
        Политика конфиденциальности
      </h1>
      <p>
        Редакция от 01.04.2018
      </p>
      <p>
        В настоящей Политике конфиденциальности используются термины в том значении, в котором они определяются в Пользовательским соглашении: <a href="/user-agreement">https://timetimeti.me/user-agreement</a>
      </p>
      <p>
        1. Политика конфиденциальности (далее – Политика) определяет порядок сбора, обработки и хранение личных данных пользователей Приложения и любого другого использования персональных данных.
      </p>
      <p>
        2. Пользователь дает свое согласие на обработку его персональных данных, а именно совершение действий, предусмотренных п. 3 ч. 1 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ "О персональных данных", и подтверждает, что, давая такое согласие, он действует свободно, своей волей и в своем интересе.
      </p>
      <p>
        3. Администрация запрашивает у пользователя Приложения:
      </p>
      <ul>
        <li>
          адрес электронной почты
        </li>
        <li>
          имя, фамилию
        </li>
      </ul>
      <p>
        4. Регистрируясь в Приложении, вы выражаете свое полное согласие с условиями настоящего Положения.
      </p>
      <p>
        5. В случае несогласия с условиями настоящего Положения, использование Приложения должно быть немедленно прекращено.
      </p>
      <p>
        6. Администрация осуществляет обработку информации о Пользователях, в том числе их персональных данных, в целях выполнения обязательств перед Пользователями в отношении использования Приложения.
      </p>
      <p>
        7. Администрация принимает технические и организационно-правовые меры в целях обеспечения защиты персональных данных Пользователя от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий.
      </p>
      <p>
        8. Администрация предоставляет доступ к персональным данным Пользователя только тем работникам и подрядчикам, которым эта информация необходима для обеспечения функционирования Сайта.
      </p>
      <p>
        9. Раскрытие предоставленных пользователем персональных данных может быть произведено лишь по требованию суда, правоохранительных органов, а равно в иных предусмотренных законодательством случаях.
      </p>
      <p>
        10. Администрация не проверяет достоверность персональных данных, предоставляемых Пользователем, за исключением случаев, когда такая проверка необходима в целях исполнения обязательств перед Пользователем.
      </p>
      <p>
        11. Администрация имеет право вносить изменения в настоящую Политику. Новая редакция Положения вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Положения.
      </p>
      <p>
        12. Действующая редакция всегда находится на странице по адресу: <a href="/privacy-policy">https://timetimeti.me/privacy-policy</a>
      </p>
    </div> <!-- /container -->
  </body>
</html>
