<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
    <style>
      body, html {
        font-size: 16px !important;
        line-height: 1.2 !important;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>
        Пользовательское соглашение
      </h1>
      <p>
        Редакция от 01.04.2018
      </p>
      <h2>
        1. Термины и определения
      </h2>
      <p>
        «Соглашение» — настоящее пользовательское соглашение.
      </p>
      <p>
        «Приложение» — приложение “TimeTimeTime”.
      </p>
      <p>
        «Пользователь» — физическое лицо, надлежащим образом присоединившееся к настоящему Соглашению для использования Приложения.
      </p>
      <p>
        «Администрация» — индивидуальный предприниматель Оганезов Алексей Владимирович (ОГРНИП 318237500100694, ИНН 230411756408).
      </p>
      <h2>
        2. Общие положения
      </h2>
      <p>
        2.1. Настоящее Соглашение регламентирует отношения между Администрацией и Пользователем.
      </p>
      <p>
        2.2. Настоящее Соглашение является открытым и общедоступным документом. Действующая редакция Соглашения располагается в сети Интернет по адресу: <a href="/user-agreement">https://timetimeti.me/user-agreement</a>
      </p>
      <p>
        2.3. Условия настоящего Соглашения являются публичной офертой в соответствии со ст. 437 Гражданского кодекса Российской Федерации и использование Приложения возможно исключительно на условиях настоящего Соглашения.
      </p>
      <p>
        2.4. Принимая условия настоящего Соглашения, Пользователь подтверждает свое согласие на обработку Администрацией его персональных данных, предоставленных при регистрации, в том числе, но не ограничиваясь, реализацией функционирования Приложения.
      </p>
      <p>
        2.5. Принимая условия настоящего Соглашения, Пользователь в том числе принимает условия Политики конфиденциальности. Действующая редакция Политики располагается в сети Интернет по адресу: <a href="/privacy-policy">https://timetimeti.me/privacy-policy</a>
      </p>
      <p>
        2.6. Компания вправе вносить изменения в настоящее Соглашение. При внесении изменений в Соглашение Компания уведомляет об этом пользователей путем размещения новой редакции Соглашения по постоянному адресу <a href="/user-agreement">https://timetimeti.me/user-agreement</a> не позднее, чем за 10 дней до вступления в силу соответствующих изменений. При этом продолжение использования Приложения после внесения изменений и/или дополнений в настоящее Соглашение, означает согласие Пользователя с такими изменениями и/или дополнениями, в связи с чем Пользователь обязуется регулярно отслеживать изменения в Соглашении, размещенном на сайте <a href="/user-agreement">https://timetimeti.me/user-agreement</a>
      </p>
      <p>
        2.7. Обращения, предложения и претензии физических и юридических лиц к Компании, связанные с содержанием и функционированием Приложения, нарушениями прав и интересов третьих лиц, требований законодательства Российской Федерации, а также для запросов уполномоченных законодательством Российской Федерации лиц могут быть направлены по адресу Россия, 353475, г. Геленджик, ул. Свердлова, кв. 80.
      </p>
      <p>
        2.8. Настоящее Соглашение составлено в соответствии с законодательством Российской Федерации. Вопросы, не урегулированные Соглашением, подлежат разрешению в соответствии с законодательством Российской Федерации.
      </p>
      <p>
        2.9. В случае несогласия Пользователя с условиями настоящего Соглашения использование Приложения должно быть немедленно прекращено.
      </p>
      <h2>
        3. Права и обязанности пользователя
      </h2>
      <p>
        3.1. Пользователь обязуется надлежащим образом соблюдать условия настоящего Соглашения.
      </p>
      <p>
        3.2. При регистрации в Приложении Пользователь обязуется сообщать достоверную информацию о себе, необходимую для:
      </p>
      <ul>
        <li>
          корректного предоставления услуг Администрацией;
        </li>
        <li>
          ответа на обращения Пользователя в службу технической поддержки Приложения;
        </li>
        <li>
          подтверждения принадлежности аккаунта в Приложении данному Пользователю в случае утери аккаунта.
        </li>
      </ul>
      <p>
        3.3. Пользователь обязуется не использовать Приложение для любых иных целей, кроме как для целей, связанных с личным некоммерческим использованием.
      </p>
      <p>
        3.4. Пользователь обязуется не использовать стороннее ПО и другие технические средства, влияющие на работу Приложения и связанную с ней систему.
      </p>
      <h2>
        4. Права и обязанности Администрации
      </h2>
      <p>
        4.1. Компания вправе заблокировать доступ Пользователя к Приложению в случае обнаружения нарушений Пользователем обязанностей, указанных в разделе 2 настоящего Соглашения.
      </p>
      <p>
        4.2. Компания оставляет за собой право в любой момент ограничить доступ Пользователя к Приложению по организационным или техническим причинам без уведомления Пользователя.
      </p>
      <p>
        4.3. Компания оставляет за собой право в любой момент расторгнуть настоящее Соглашение по организационным или техническим причинам в одностороннем порядке, заблокировав возможность его использования.
      </p>
      <p>
        4.4. Администрация осуществляет обработку персональных данных пользователя в целях исполнения договора между Компанией и Пользователем на оказание Услуг Приложения. В силу статьи 6 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных» отдельное согласие пользователя на обработку его персональных данных не требуется. В силу п.п. 2 п. 2 статьи 22 указанного закона Компания вправе осуществлять обработку персональных данных без уведомления уполномоченного органа по защите прав субъектов персональных данных. Политика хранения и обработки персональных данных располагается по адресу <a href="/privacy-policy">https://timetimeti.me/privacy-policy</a>
      </p>
      <p>
        4.5. В целях улучшения и повышения стабильности работы Приложения Компания вправе собирать, хранить и обрабатывать статистическую информацию об использовании Пользователем Приложения, которая включает в себя:
      </p>
      <ul>
        <li>
          данные о браузере пользователя;
        </li>
        <li>
          статистическую информация об использовании Приложения;
        </li>
      </ul>
      <h2>
        5. Гарантии и ответственность сторон
      </h2>
      <p>
        5.1. Пользователь гарантирует, что не будет предпринимать каких-либо действий, направленных исключительно на причинение ущерба Администрации.
      </p>
      <p>
        5.2. В случае нарушения правил использования Приложения, указанных в разделе 3 настоящего Соглашения, а также в случае нарушения пункта 5.2 настоящего Соглашения, Пользователь обязуется возместить Администрации вред, причиненный такими действиями.
      </p>
      <h2>
        6. Заключительные положения
      </h2>
      <p>
        6.1. В случае возникновения любых споров или разногласий, связанных с исполнением настоящего Соглашения, Пользователь и Администрация приложат все усилия для их разрешения путем проведения переговоров между ними. В случае, если споры не будут разрешены путем переговоров, споры подлежат разрешению в соответствующем компетентном суде по месту нахождения Администрации в порядке, установленном действующим законодательством Российской Федерации.
      </p>
      <p>
        6.2. Настоящее Соглашение вступает в силу для Пользователя с момента Регистрации в соответствии с пунктом 2.2 Соглашения и действует до тех пор, пока не будет изменено или расторгнуто по инициативе Компании.
      </p>
      <p>
        6.3. Настоящее Соглашение составлено на русском языке.
      </p>
      <p>
        6.4. Если какое-либо из положений настоящего Соглашения будет признано недействительным, это не оказывает влияния на действительность или применимость остальных положений настоящего Соглашения.
      </p>
      <p>
        6.5. Дальнейшее использование Приложения означает, что Вы приняли на себя ответственность за безусловное соблюдение настоящего Соглашения.
      </p>
    </div> <!-- /container -->
  </body>
</html>
